%link{:href => "#{url("/custom.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/app.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/foundation.min.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/foundation.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", :rel => "stylesheet"}/
%script{:src => "https://code.jquery.com/jquery-1.12.4.js"}
%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text Retrospective
      %li.is-active
        %a{:href => "/peoples"} Current
      %li
        %a{:href => "/manage"} Manage
      %li
        %a{:href => "/users"} All Users
%table
  %thead
    %tr
      %th
        %h2 Choose People
      %th
  %tbody
    - if @all_names
      - @all_names.each do |key, value|
        -if value["status"] == 'false'
          %tr
            %td= value["name"]
            %td
              %a.success.button.right{ href: url("/add/#{key}") } Add
    - else
      %tr
        %td
          %h3 No users found
.callout
  %table.unstriped
    %thead
      %th
        %h2 Add New User
    %form{:action => "/user", :method => "post"}
      %tbody
        %tr
          %td
            %label
              Name:
              %input{:placeholder => "Full Name", :type => "text", :name => "name"}/
        %tr
          %td
            %label
              Date of Birth:
              %input#date{:type => "text", :name => "dob"}
        %tr
          %td
            %input.button.success{:type => "submit"}


:javascript
  $(document ).ready(function() {
    $('#date').datepicker( {
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: 'dd MM'
    }).focus(function () {
      $(".ui-datepicker-year").hide();
    });
  });
