%link{:href => "#{url("/custom.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/app.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/foundation.min.css")}", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "#{url("/foundation.css")}", :rel => "stylesheet", :type => "text/css"}/
.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text Retrospective
      %li.is-active
        %a{:href => "/peoples"} People
      %li
        %a{:href => "/manage"} Manage
      %li
        %a{:href => "/users"} All Users
%table.unstriped
  %thead
    %tr
      %th
        %h2 Ongoing Retrospective
      %th
    %tr
      %th
        %a.alert.button.right{ href: url("/reset") } Reset All
      %th
        %label
          Sort By
          %select
            %option{:value => "name_desc"} Name(Desc)
            %option{:value => "name_asc"} Name(Asc)
            %option{:value => "day_asc"} Birthday (Asc)
            %option{:value => "day_desc"} Birthday (Desc)
            %option{:value => "random"} Random
  %tbody
    - @names.each do |key, value|
      -if value["status"] == "true"
        %tr
          - if value["completed"] == 'true'
            %td
              %h4
                - if value["completed"] == 'true'
                  %strike
                    %a.full-width{ href: url("/revoke/#{key}") }= value["name"]
          - else
            %td
              %h4
                %a.full-width{ href: url("/completed/#{key}") }= value["name"]
          %td